
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Talilwind */
@import "tailwindcss";

/* Custom settings */
body {
  font-family: "Lora", serif;
}

.hero h1, h2 {
  font-family: "Old Standard TT", serif;
  font-style: italic;
}

/* Smooth transition for side nav sliding */
    #side-nav {
      transition: transform 0.3s ease-in-out;
    }


