
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Talilwind */
@import "tailwindcss";

/* Custom settings */
body {
  font-family: "Lora", serif;
}

.hero h1, h2 {
  font-family: "Old Standard TT", serif;
  font-style: italic;
}

/* Typewriter Effect */
.typewriter {
  overflow: hidden; /* Ensures the content is hidden until the animation starts */
  border-right: .15em solid orange; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the text on a single line */
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 35% }
}

@keyframes blink-caret {
  0%, 100% { border-color: transparent }
  50% { border-color: orange }
}


